<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>服务器端</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>服务器端</h1>
    <p>这是服务器前端页面</p>
    <p>在这里写html,可以引入css，js</p>
    <p>引入css、js的路径是 /static/css/xxx.css</p>
    <p>vue代码写在js里，在body的最后部分引入</p>
    <script src="/static/js/index.js"></script>
</body>

</html>